language: android

# Required to run retrolambda
jdk:
    - oraclejdk8

android:
  components:
    - platform-tools
    - tools
    - build-tools-28.0.2
    - android-28

    # RS components
    - extra-android-m2repository
    - extra-google-m2repository
before_script: .travis/setup.sh
script:
    - ./gradlew clean build
deploy:
    provider: script
    script: ./gradlew bintrayUpload
    on:
        branch: master
